$("#new_ticket").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
$(".tickets").append("<%= escape_javascript(render(:partial => @ticket)) %>");
$("#new_ticket")[0].reset();